

    <div class="row btn-group" role="group" aria-label="Basic example">
      <div class="col-md-4">
        <div class="rs-overlay-option">
          Property Type :
          <select class="rs-overlay-select custom-select">
            <option> A House</option>
            <option> An Appartment</option>
          </select>     
        </div>
      </div>
      <div class="col-md-4">
        <div class="rs-overlay-option">
          City : 
          <select class="rs-overlay-select custom-select">
            <option> Addis Ababa</option>
            <option> Adama </option>
            <option> Bahirdar</option>
            <option> Dire Dawa</option>
            <option> Mekele</option>
            <option> Gonder</option>
            <option> Hawassa</option>
          </select>
        </div>
      </div>

      <div class="col-md-4">
        <div class="rs-overlay-option">
          Area : 
          <select class="rs-overlay-select custom-select">
            <option> Bole </option>
            <option> Adama </option>
            <option> Bahirdar</option>
            <option> Dire Dawa</option>
            <option> Mekele</option>
            <option> Gonder</option>
            <option> Hawassa</option>
          </select>  
        </div>    
      </div>  
    </div>

