<div class="card rs-side-card">
  <div class="card-body">
    <div class="rs-listing-price">
      <% if (listing && listing.price)%>
        <h3><%= listing.price.amount %> ETB</h3>
      <% end %>
    </div>

    <% if (listing && listing.agent) %>
      <div class="rs-agent-info-title">
        Agent Info
      </div>

      <div class="rs-agent-info">
        <% if (listing.agent.image_proxy) %>
          <img src="<%= listing.agent.image_proxy.image_url %>">
        <% else %>
        <% end %>
        <br>
          <%= listing.agent.first_name + " " + listing.agent.last_name %>
        <br>

        <%= listing.agent.phone_number%>
      </div>
    <% end %>
  </div>
</div>