<div class="card rs-side-card">
  <div class="card-body">
    <div class="rs-listing-price">
      <% if (listing && listing.price)%>
        <h3><%= listing.price.amount %> ETB</h3>
      <% end %>
    </div>

    <div class="rs-agent-info-title">
      Agent Info
    </div>

    <div class="rs-agent-info">

      <img src="https://www.drupal.org/files/user-pictures/picture-2204516-1469808304.png">
      <br>
      Kidus Yohannes
      <br>

      +251 913 79 89 54
    </div>
    
   
    <div>
    </div>
  </div>
</div>