<div class="row">
  <div class="col-md-8">
    <div class="container">
      <div class="row rs-overlay">
        <%= render(partial: "home_search_buttons")%>          
      </div>
   </div>
 </div>
 <div class="col-md-4">

 </div>
</div>