 <ul class="ad-nav-container">
  <li class="ad-nav-link"><a href="/admin/users"> Users </a></li>        
  <li class="ad-nav-link"><a href="/admin/listings"> Listings </a></li>
  <li class="ad-nav-link"><a href="/admin/agents"> Agents</a></li>
  <li class="ad-nav-link"><a href=""> Analytics </a></li>
</ul>

