<!--main content section-->
<section class="mt-4 mb-5">
  <div class="container">
    <div class="row">
      <div class="col-md-3">
        <div class="row mb-3">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-body">
                        <strong><p>Menu</p></strong>
                        <ul class="list-unstyled">
                           <a href="#"> <li>Digital Accuracy</li></a>
                           <a href="#"> <li>Digital Accuracy</li></a>
                           <a href="#"> <li>Digital Accuracy</li></a>
                           <a href="#"> <li>Digital Accuracy</li></a>
                           <a href="#"> <li>Digital Accuracy</li></a>
                           <a href="#"> <li>Digital Accuracy</li></a>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
      </div>
      <div class="col-md-9">
        <div class="row mb-3">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-3">
                               <img class="rs-search-result-img" src="https://s3.envato.com/files/248072868/Screenshot/01_preview.jpg">
                            </div>
                            <div class="col-md-7">
                                <h5>Msexchange contributes senior UX Designer</h5>
                                <small>Jopitor Inc., India</small>
                                <p><small>11907 Dyuuleves Incorpotatestion, South west, Newzealer</small></p>
                            </div>
                            <div class="col-md-2">
                                <button type="button" class="btn btn-outline bg-orange">Get Quotes</button>
                                <small>Published on Nov 27, 2017</small>
                            </div>
                        </div>
                        
                    </div>
                </div>
            </div>
        </div>
      </div>
    </div>
  </div>
</section>
