<hr>
<footer>
  <div style="min-height: 60px;" class="footer mt-4" id="footer-sub">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <%= render(partial: "partials/brand_logo")%>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
          </p>
          
        </div>

       

      <div class="col-md-3">
        <h5>  </h5>
        <ul>

          <li><a href=""><i class="fas fa-phone"> </i> 0913123456</a></li>
         
        </ul>
      </div>

       <div class="col-md-3">
          <h5></h5>
          <ul>
           <li><a href=""><i class="fas fa-envelope"></i> info@somesite.com</a></li>  
                  
          </ul>
        </div> 
     
      </div>         
    </div>
  </div>

</footer>