<div class="row">
  <div class="col-md-2">    
  </div>
  <div class="col-md-8">
    
    <h1> ይቅርታ! </h1>
    <hr>
    <h3> The <%= locals[:resource] %> you're looking for is not Found.
  </div>
  <div class="col-md-2">    
  </div>
</div>
<h1> 