<div class="container mt-3">
  <div class="row">
  <!-- User info card. -->
  <div class="col-md-3">
    <%= render(partial: "user_info_card") %>     
  </div>
  <!-- body -->
  <div class="col-md-9">
    <!-- nav links -->
    <%= render(partial: "nav_links", locals: {active: "messages"}) %> 

    <% if current_user.is_agent %>

      <div class="row">
          <% current_user.agent.get_interest_indications.each do |interest_indication| %>            
            <%= render(partial: "agents/agent_message_card", locals: {interest_indication: interest_indication}) %>
          <% end %>   
      </div>
      <br>
      <br>
    <% end %>
  </div>
</div>
</div>