<div class="container mt-3">
  <div class="row">
  <!-- User info card. -->
  <div class="col-md-3">
    <%= render(partial: "user_info_card") %>     
  </div>
  <!-- body -->
  <div class="col-md-9">
    <!-- nav links -->
    <%= render(partial: "nav_links", locals: {active: "listings"}) %> 

    <% if current_user.is_agent %>

      <div class="row">
          <% current_user.agent.listings.each do |listing| %>
            <div class="col-md-3 col-sm-12 mt-3">
              <%= render(partial: "listings/listing_card", locals: {listing: listing}) %>
            </div>
          <% end %>   
      </div>
      <br>
      <br>
    <% end %>
  </div>
</div>
</div>