// Place all the styles related to the homepage controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.add-a-listing {
  text-align: center;
  border-radius: 3px;
  color: white !important;
  margin-right: 20px;
  background: linear-gradient(to right, #03A9F4 , #517476);
}

.admin-link {
    border-radius: 3px;
    color: white !important;
    margin-right: 20px;
    background: red;
  }


.rs-navbar-brand {
    color: #ffffff;
    font-family: 'IM Fell DW Pica', serif;
    font-size: 22px;

    .rs-brand-light {
      font-weight: 300;
    }

     .rs-brand-bold {
       color: #1dd1a1;
       font-weight: 800;
    }

    a:hover {
      color: #1dd1a1;
    }

    &:hover {
      color: #fff;
    }

  }